<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hotstar Automation Test Suite">

	<listeners>
		<listener class-name="com.jio.framework.ExtentReportListener.ExtentReporterNG" />
		<listener class-name="com.jio.framework.util.ListenerTestNew" />
		<listener class-name="com.jio.framework.util.TestListener" />
	</listeners>


	<test name="JioCinema Test Cases">
		<classes>

			<class name="com.jiocinema.testcases.HomePageTest"></class>
			<class name="com.jiocinema.testcases.LoginPageTest"></class>
			<class name="com.jiocinema.testcases.MediaPlayerPageTest"></class>
			<class name="com.jiocinema.testcases.MovieMetaDataPageTest"></class>
			<class name="com.jiocinema.testcases.MoviesPageTest"></class>
			<class name="com.jiocinema.testcases.SearchPageTest"></class>
			
		</classes>
	</test>
</suite>